notebook
jupyterhub
Bottleneck
Pillow
PyMySQL
SQLAlchemy
XlsxWriter
bokeh
dask
descartes
gensim
geopandas
ipywidgets
mapclassify
matplotlib
mpmath
mysql
mysql-connector-python
mysqlclient
nbdime
nbstripout
nltk
numba
numexpr
numpy
openpyxl
pandas
patsy
plotly
pyodbc
pytz
requests
scikit-image
scikit-learn
scipy
seaborn
statsmodels
tableauserverclient
tini
twilio
vaex
widgetsnbextension
xlrd
xlwt
