notebook
jupyterhub
nbdime
nbstripout
bokeh
Bottleneck
dask
descartes
gensim
geopandas
ipywidgets
mapclassify
matplotlib
mpmath
mysql
mysql-connector-python
mysqlclient
nltk
numba
numexpr
numpy
openpyxl
pandas
patsy
Pillow
plotly
PyMySQL
pyodbc
pytz
requests
scikit-image
scikit-learn
scipy
seaborn
SQLAlchemy
statsmodels
tableauserverclient
tini
twilio
widgetsnbextension
xlrd
XlsxWriter
xlwt
